<launch>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >  -->
        <!-- <arg name="port" value="8080"/> -->
    </include>

    <include file="$(find darknet_ros)/launch/darknet_ros.launch" > </include>
    
    <include file ="$(find ORB_SLAM2)/launch/slam_mono.launch"> </include>
</launch>